.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
    flex-grow: 1;
    background: linear-gradient(90deg, #6a23a9 0%, #b63bdf 100%);
}

.Quiz h1 {
    color: #ffff;
    margin-left: 10px;
}

.QuizWrapper {
    width: 600px;
}