.Button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #000;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
	cursor: default;
}

.Button[focus] {
   outline: none;
}

.Button[active] {
   box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
}

.Button[disabled] {
    color: #000;
    background: #ccc;
    cursor: not-allowed;
}

.success {
    color: #fff;
    background:#8cd03dd6;
}

.error {
    background: rgba(240, 87, 108, 1);
}

.primary {
    background: #2682c1;
    color: #fff
}